* {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  font-size: $font-medium;
  box-sizing: border-box; // Saspicious
}

body {
  font-weight: 300; // Saspicious
  background-color: $paleBlue;
  background-image: url(../../images/pattern-background-mobile.svg); //TODO Doesn't seem to do anything...
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  min-height: 100vh;
}

.card_container {
  max-width: 350px;
  margin: 20px;
  background-color: white;
  border-radius: 1rem;
}

.header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url(../../images/illustration-hero.svg);
}

.card_text {
  padding: 1.5rem;
}

.summary {
    margin-bottom: 1.2rem;
}

h1, h2 {
  color: $darkBlue;
}

p {
  color: $desaturatedBlue;
}

.summary {
  border-style: solid; //TODO delete this
  border-color: red; //TODO delete this
  text-align: center;
}

.change_plan {
  display: flex;
  justify-content: space-around;
  border-style: solid; //TODO delete this
  border-color: red; //TODO delete this

  &_text { //TODO delete this
    border-style: solid;
    border-color: red;
  }
}

.card_buttons {
  display: flex;
  flex-direction: column;

  button {
    display: block;
    width: 100%;
    background-color: $brightBlue;
    color: white;
    border:none;
    cursor: pointer;
  }

  a {
    display: block;
    text-align: center;
  }
}
