* {
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
  font-size: $font-size;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: $veryDarkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text {
  background-color: $darkDesaturatedBlue;
}
